.tree-examples-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px; }
  .tree-examples-box .options span {
    display: block; }

/*# sourceMappingURL=tree-examples.css.map */
